.sectionContainer {
    scroll-margin-top: 74px;
    .section-description {
        text-align: left;
        padding-right: 50px;

        p {
            line-height: 140%;
        }

        .title-container:not(:first-child){
            margin-top: 20px;;
        }
    }

    &__reverse {
        .section-description {
            padding-left: 50px;
            padding-right: 0px;
        }
    }

    .section-media {
        order: 0;
        flex: 0 1 auto;
        flex-shrink: 0;
        width: 25%;
        position: relative;
        img {
            max-width: 100%;
            border-radius:  20px;
        }
    }
}