
.header-container {
    
}
header {
    text-align: center;
    padding: 15px 0;;
    .center {
    }

   .header-logo {
    padding-bottom: 15px;
        img {
            max-height: 80px;
        }
   }
}