:root {
    --main-bg-color: #ffffff;
    --second-bg-color:#fd6706;
    --main-text-color: #272b46;
    --second-text-color:#ffffff;  
    --main-title-color: #fd6706;
    --second-title-color: #ffffff;
    --main-link-color: #fd6706;
    --scroll-margin-top: 74px;

  }
  